// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// $overall-color: #49b3a2;
$overall-color: #405f6e;
$hover-white: #fff;

#snackbar {
    visibility: hidden;
    min-width: 250px;
    // margin-left: -125px;
    background-color: #e3342f;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 10px;
    position: fixed;
    z-index: 1;
    left: 80%;
    // bottom: 488px;
    top: 64px;
    font-size: 17px;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

  // overall
  .my-app {
    &.v-application {
      a {
        color: $overall-color;
      }
      .v-icon {
        color: $overall-color;
      }
      header {
        background-color: #5e8395 !important;
        .float-left {
          .v-app-bar__nav-icon {
            .v-icon {
              color: #fff;
            }
          }
        }
      }
      .side-nav {
        .v-card {
          box-shadow: none;
        }
        .v-list {
          .v-list-item {
            &:hover {
              background-color: #0ac59d;
              .v-list-item__title {
                color: $hover-white;
              }
              a {
                color: $hover-white;
              }
              .v-icon {
                color: $hover-white;
              }
              .v-list-item__icon {
                color: $hover-white;
              }
            }
            .v-list-item__title {
              color: $overall-color;
              padding: 0.5rem 1rem;
              a {
                padding: 0;
              }
            }
            .v-list-item__icon {
              color: $overall-color;
              margin-right: 0;
            }
          }
        }
      }
      .addHereHtml {
        padding-left: 15px;
        button {
          &.success {
            background-color: #0ac59d !important;
            box-shadow: none;
          }
        }
      }
    }
  }

  // header top nav 
  .v-menu__content {
    top: 57px !important;
    left: auto !important;
    right: 20px;
    .header-right-menu {
      padding: 0;
      .v-list-item {
        display: block;
        padding: 15px;
        a {
          border: 1px solid #5e8395;
          margin-bottom: 5px;
          color: $overall-color;
          text-align: center;
          min-width: 170px;
          &:hover {
            background-color: $overall-color;
            color: #fff;
          }
        }
        button {
          margin: 10px auto 0;
          padding: 0;
          color: $overall-color;
        }
      }
    }
  }